body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

h1{
    color: #007bff;
    text-align: center;
    margin-top: 50px;
}

a{
    color: #007bff;
    text-decoration: none;
    transition: 0.3s;
    
    &:hover{
        color: #010d77;

    }
}